.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.c2 {
  background-color: rgba(0, 0, 0, 0.3);
  /* color:white; */
}

.cl1 {
  color: white !important;
}

.super_parent {
  background-color: rgb(246, 237, 226);
  /* height: 25vh; */
  position: absolute;
  top: 0;
  bottom: 0;
}

.mynav {
  background-color: #a99faf5c;
  width: 90px;
  height: 100vh;
  border-radius: 40px;
}

.nav_i {
  display: block;
  text-decoration: none;
  padding: 24px;
  text-align: center;
  color: white;
  font-size: 36px;
}

.nav_i:hover {
  color: #000;
  transition: all 0.3s ease;
}

.active {
  background-color: tomato !important;
}

* {
  margin: 0;
}

.avatar {

  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar:hover {
  box-shadow: 0 0 2px 1px rgba(54, 58, 59, 0.5);
}

.chat {
  height: 100vh;
  /* background-color: brown; */
  width: 100%;
  border-radius: 40px;
}

.chat_header {
  height: 10%;
  background-color: rgba(94, 84, 87, 0.429);
  width: 100%;
  border-radius: 30px;
  margin-top: 16px;
}

.chat_history {
  height: 70%;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 30px;
  overflow-y: scroll;
  margin-top: 16px;
  margin-bottom: 10px;
}

.chat_send {
  height: 10%;
  background-color: rgb(94 84 87 / 59%);;
  width: 100%;
  border-radius: 30px;
  position: relative;
  bottom: 0px;
  margin-top: 16px;
}

.list {
  height: 100vh;
  /* background-color: rgb(50, 5, 31); */
  /* border: 2px solid black; */
  width: 100%;
  border-radius: 25px;
}

.list_header {
  height: 8%;
  background-color: rgb(213, 213, 213);
  width: 100%;
  border-radius: 30px;
  box-shadow: 2px 3px 10px 0px gray;

}

.list_body {
  height: 90%;
  /* background-color: rgb(246, 237, 226);  */
   width: 100%;
  border-radius: 30px;
  overflow-y: scroll;
  margin-top: 9px;
  /* background-color: #d9d9d9 !important; */
}
.list_body ul{
  background-color: rgb(246, 237, 226);
  height: 100%;
}
.list_body ul li{
  list-style: none;
    margin-left: 0;
    background-color: rgb(246, 237, 226);
        box-shadow: 2px 3px 10px 0px gray;
    margin: 10px;
    border-radius: 20px;
}

/* Hide the vertical scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 1em;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(227, 211, 211);
  border-radius: 40px;
  /* height: 22px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
  border-radius: 40px;
  /* Change this color to whatever you prefer */
}

.send_btn {
  display: block;
  text-decoration: none;
  padding: 9px;
  text-align: center;
  color: white;
  font-size: 35px;
}

.selected {
  background-color: #4e4e4f;
}

.chat-messages {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y:scrolls;
  &::-webkit-scrollbar {
    width: 0.2rem;
    &-thumb {
      background-color: #ffffff39;
      width: 0.1rem;
      border-radius: 1rem;
    }
  }
}

.message {
  display: flex;
  align-items: center;
  .content {
    max-width: 40%;
    overflow-wrap: break-word;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    color: #000000;
    @media screen and (min-width: 720px) and (max-width: 1080px) {
      max-width: 70%;
    }
  }
}
.sended {
  justify-content: flex-end;
  .content {
    background-color: #a3e99521;
  }
}
.recieved {
  justify-content: flex-start;
  .content {
    background-color: #03532620;
  }
}
.nameTitle{
  font-size: 37px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

}

.user_list{
  font-size: 37px;
  font-weight: 700;
  color: #201f1faa;
  /* text-transform: uppercase; */
}

/* GroupChat home page */
.grp_card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1rem;
  position: relative;
  position: fixed;
  left: 42%;
  top: 50%;
  width: 25vw;
  transform: translate(-50%, -50%);
}

.grp_cardHeader {
  background: #f7c52a;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  text-transform: uppercase;
  transform: skewY(-4deg);
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: -1rem;
  left: -0.75rem;
}

.grp_cardBody {
  margin-top: 2rem;
}

.grp_inputGroup {
  margin-bottom: 1rem;
}

.grp_label {
  font-size: 0.9rem;
}

.grp_input {
  border: none;
  padding: 0.5rem 0.1rem;
  width: 100%;
  border-radius: 2px;
  border-bottom: 1px solid #eee;
  transition: all 0.5s;
}

.grp_input:focus {
  border-bottom: 1px solid #ccc;
}

.grp_button {
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: 100%;
  text-transform: uppercase;
}

.join {
  background: #f7c52a;
  padding: 0.25rem 1rem;
  border-radius: 2px;
  /* display: inline-block; */
  float: right;
}
.zzz{
  color: #000 !important;
  height: 80px;
}

.react-input-emoji--button svg {
  fill: #ffffff !important;
  height: 80px;
}

